:root{
--whiteColor: hsl(0, 0%, 100%);
--Stone100: hsl(30, 54%, 90%);
--Stone150: hsl(30, 18%, 87%);
--Stone600: hsl(30, 10%, 34%);
--Stone900: hsl(24, 5%, 18%);
--Brown800: hsl(14, 45%, 36%);
--Rose800: hsl(332, 51%, 32%);
--Rose50: hsl(330, 100%, 98%);
}

*, *::before, *::after{
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

hr{
    color: var(--Stone600);
}

body{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: var(--Rose50);
    color: var(--Stone600);
}

h1, h2, h3, h4, h5, h6{
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--Brown800);
}

.container{
    max-width: 375px;
}

.container img{
    width: 100%;
    display: block;
}

.container .container-items .container-content{
    padding: 35px;
}

.container .container-items .container-content h1{
    line-height: 1.2;
}

.container .container-items .container-content .intro{
    padding: 20px 0;
}

.container .container-items .container-content .preparation-time{
    padding: 20px;
}

.container .container-items .container-content .preparation-time h3{
    color: var(--Rose800);
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    
}

.container .container-items .container-content .preparation-time ul{
    padding-left: 25px;
    padding-top: 10px;
}

.container .container-items .container-content .preparation-time ul li{
    list-style-type: disc;
    line-height: 2;
    
}

.container .container-items .container-content .preparation-time ul li::marker{
    color: var(--Rose800);
    font-size: 15px;
}

.container .container-items .container-content .preparation-time ul li span{
    margin-left: 20px;
    display: block;
}


.container .container-items .container-content .preparation-time ul li b{
    color: var(--Stone600);
}

.container .container-items .container-content .ingredients{
    padding-top: 15px;
    padding-bottom: 30px;
}

.container .container-items .container-content .ingredients h2{
    padding-bottom: 15px;
}

.container .container-items .container-content .ingredients ul{
    padding-left: 20px;
    
}

.container .container-items .container-content .ingredients ul li{
    /* list-style: disc; */
    line-height: 1.3;
    display: flex;
    align-items: center;
}

.container .container-items .container-content .ingredients ul li::before {
    content: "•";
    font-size: 25px;
    color: var(--Brown800);
}

/* .container .container-items .container-content .ingredients ul li::marker{
    color: var(--Brown800);
    font-size: 15px;
} */

.container .container-items .container-content .ingredients ul li span{
    margin-left: 20px;
    display: block;
}

.container .container-items .container-content .instructions{
    padding: 30px 0;
}

.container .container-items .container-content .instructions h2{
    padding-bottom: 15px;
}

.container .container-items .container-content .instructions .instructions-list{
    display: flex;
    padding-bottom: 10px;
}

.container .container-items .container-content .instructions .instructions-list .list-order{
    color: var(--Brown800);
    font-weight: 600;
}

.container .container-items .container-content .instructions .instructions-list div:last-child{
    margin-left: 20px;
}

.container .container-items .container-content .instructions .instructions-list div:last-child b{
    color: var(--Stone600);
}


.container .container-items .container-content .nutrition{
    padding: 30px 0;
}

.container .container-items .container-content .nutrition h2{
    padding-bottom: 15px;
}

.container .container-items .container-content .nutrition p{
    padding-bottom: 15px;
}

.container .container-items .container-content .nutrition .nutrition-table .table-item{
    border-bottom: 1px solid var(--Stone150);
    padding-top: 10px;
}

.container .container-items .container-content .nutrition .nutrition-table .table-item span{
    /* background-color: aqua; */
    display: inline-block;
    width: 150px;
    height: 35px;
}

.container .container-items .container-content .nutrition .nutrition-table .table-item span:first-child{
    padding-left: 30px;
}

.container .container-items .container-content .nutrition .nutrition-table .table-item span:last-child{
    color: var(--Brown800);
    font-weight: 700;
}

